
obj
bin
dist*

logs
logsTest

coverage

.sonarqube

localtools

**/BellRichM.Weather.Web/Data
packages-microsoft-prod.deb
util/InitUsers/Identity.db
mspec.xml
opencover.xml

**/node_modules
**/coverlet
**/output/junit.xml
**/.ropeproject
util/InitObservations/Data
util/InitUsers/Data
util/InsertObservations/Data
