<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>
<p>Useful links</p>
<ul>
  <li><a href="http://bellrichm-weather.azurewebsites.net/"  target="_blank" rel="noopener">You are here</a></li>
  <li><a href="https://portal.azure.com/#resource/subscriptions/cca14642-f17a-45ab-807c-719a9d7ea110/resourceGroups/bellrichm-weather/providers/Microsoft.Web/sites/bellrichm-weather/appServices"  target="_blank" rel="noopener">Azure dashboard</a></li>
  <li><a href="https://bellrichm.wordpress.com/" target="_blank" rel="noopener">The blog</a></li>
  <li><a href="https://github.com/bellrichm/weather" target="_blank" rel="noopener">The code</a></li>
  <li><a href="https://ci.appveyor.com/project/bellrichm/weather" target="_blank" rel="noopener">AppVeyor - Build, Test, and Deploy</a></li>
  <li><a href="https://coveralls.io/github/bellrichm/weather" target="_blank" rel="noopener">Coveralls - Code coverage</a></li>
  <li><a href="https://sonarcloud.io/dashboard?id=weather" target="_blank" rel="noopener">SonarQube - Code analysis</a></li>
</ul>
